body {
  font-family: "Poppins", sans-serif;
}
.tick line {
  stroke: #c0c0bb;
}
.tick text {
  fill: #635f5d;
}
.mark {
  fill: #137b80;
}
.axis-label,
.dropdown-label {
  font-size: 2em;
  fill: #635f5d;
  color: #635f5d;
}
.dropdown-label {
  margin-left: 50px;
  margin-right: 5px;
}
.Dropdown-root {
  font-size: 1.5em;
  width: 300px;
  display: inline-block;
}
.Dropdown-menu {
  max-height: 400px;
}
.menus-container {
  display: flex;
  margin-top: 10px;
  margin-right: 15px;
  justify-content: center;
  align-items: center;
}
