body {
  font-family: "Poppins", sans-serif;
}
.tick line {
  stroke: #c0c0bb;
}
.tick text {
  fill: #635f5d;
}
.marks rect {
  fill: #137b80;
}
.marks path {
  stroke: #137b80;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.axis-label {
  font-size: 2.5em;
  fill: #635f5d;
}
